@font-face {
    font-family: 'Clarendon Cn BT';
    src: url('../font/Clrndnbc.ttf');
}
.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FBF7F7;
  }

  .textoCategorias{
    font-family: 'Clarendon Cn BT';
    font-size: 3em;
  }

  .textoEncuentra{
    font-family: 'Clarendon Cn BT';
    font-size: 1.5em;
  }

.hCVuYx {
    font-size: 2.6em !important;
    background-color: rgb(105 98 117 / 0%) !important;
    color: #000 !important;
    box-shadow: 0 0 black !important;
}

.chowzb {
    font-size: 2.6em !important;
    background-color: rgb(105 98 117 / 0%) !important;
    color: #000 !important;
    box-shadow: 0 0 black !important;
}
.brcpxa {
    background-color: rgb(0 0 0 / 50%) !important;
    box-shadow: 0 0 1px 3px rgb(174 170 181) !important;
}